.container
  .row
    .span4#left
      #ccrCarousel.carousel
        .carousel-inner
          .active.item
            = image_tag "HE.jpg", :size => "300x300"
            .carousel-caption
              %p HE.jpg
          .item
            = image_tag "MgZnCa_Alloy.JPG", :size => "300x300"
          .item
            = image_tag "MCT3T3.JPG", :size => "300x300"

        %a.left.carousel-control{:href => "#ccrCarousel", :data => { :slide => "prev" } }
          = '<'
        %a.right.carousel-control{:href => "#crrCarousel", :data => { :slide => "next"} }
          = '>'
    .span8#right
      %p Just some text.
